<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Blank.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<script>
    function editSelectedDocument() {
        const id = sessionStorage.getItem('selectedDocumentId');
        if (id) {
            window.location.href = '/UserWorkspace/EditDocumentPage?id=' + id;
        } else {
            alert('Сначала выберите документ в таблице');
        }
    }
</script>
<body>
    <header>
        <div class="header-container">
            <nav>
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/UserWorkspace/CreateDocumentPage">Добавить</a></li>
                    <li><a href="#" onclick="editSelectedDocument()">Изменить</a></li>
                    <li><a href="/Documents/Delete">Удалить</a></li>
                    <li><a href="/Documents/Export">Экспорт</a></li>
                    <li><a href="UserWorkspace/Index">Обновить</a></li>
                    <li><a href="/Documents/Print">Печать</a></li>
                    <li><a href="/Search">Поиск</a></li>
                    <li><a href="/Filtr">Фильтр</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="content-wrapper">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-container">
            <ul>
                <li><p>Контакты:</p></li>
                <li>почта: <a href="mailto:senkxv@gmail.com">senkxv@gmail.com</a></li>
                <li>телефон: <a href="tel:+375256070373">+375 25 607-03-73</a></li>
                <li>github: <a href="https://github.com/senkxv">github/senkxv</a></li>
            </ul>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>