﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Авторизация</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Authorization.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=SN+Pro:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <p class="header-welcome-text">Авторизация пользователя<p>
            <p>Хотите создать аккаунт? <a id="registration-link" href="/Login/Registration">Зарегистрироваться</a></p>
        </header>
        <main>
            <section>
                <div class="form">
                    <form method="POST" class="main-section-form">
                       
                        <label for="email">Электронная почта</label>
                        <input id="email" type="email" />

                        <label for="FIO">ФИО</label>
                        <input id="FIO" type="text" />

                        <label for="password">Пароль</label>
                        <input id="password" type="password" />
                 
                        <input type="submit" value="Войти" />
                    </form>
                </div>
            </section>
        </main>
        <footer>
        </footer>
    </body>
</html>