@model Blank.Models.LoginViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Авторизация</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Authorization.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=SN+Pro:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <p class="header-welcome-text">Авторизация пользователя</p>
        <p>Хотите создать аккаунт? <a id="registration-link" href="/Login/Registration">Зарегистрироваться</a></p>
    </header>
    
    <main>
        <section>
            <div class="form">
                <form method="post" asp-action="Authorization" asp-controller="Login" class="main-section-form">
                    @Html.AntiForgeryToken()

                    <!-- Блок для вывода общих ошибок -->
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <label for="Email">Электронная почта</label>
                    <input id="Email" type="email" name="Email" />

                    <label for="Password">Пароль</label>
                    <input id="Password" type="password" name="Password" />

                    <input type="submit" value="Войти" />
                </form>
            </div>
        </section>
    </main>
    
    <footer></footer>

    <script src="~/js/AuthorizationValidation.js"></script>
</body>
</html>