﻿@{
Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Registration.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <p class="header-welcome-text">Добро пожаловать! Регистрация<p>
            <p class="has-account">У вас уже есть аккаунт? <a id="registration-link" href="/Login/Authorization">Войти</a></p>
        </header>
        <aside>
        </aside>
        <main>
            <section>
                <div class="form">
                    <form method="POST" action="UserWorkspace/Index" class="main-section-form">
                        <label for="switch">Режим администратора</label>
                        <div id="switch" class="common-switch">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider"></span>
                            </label>
                        </div>

                        <label for="email">Электронная почта</label><br />
                        <input id="email" type="email" /><br />

                        <label for="FIO">ФИО</label><br />
                        <input id="FIO" type="text" /><br />

                        <label for="password">Пароль</label><br />
                        <input id="password" type="password" /><br />

                        <label for="password-repeat">Подтвердите пароль</label><br />
                        <input id="password-repeat" type="password" />
                        <ul class="form-list-password">
                            <li>Используйте 8 и более символов</li>
                            <li>Хотя бы один специальный символ</li>
                            <li>Хотя бы один символ в ВЕРХНЕМ регистре</li>
                            <li>Хотя бы одно число</li>
                        </ul>

                        <input id="checkbox-user-data-computing" type="checkbox" />
                        <label class="checkbox-user-data-computing" for=" checkbox-user-data-computing"> Соглашение на обработку персональных данных и с условиями использования сервиса.</label><br />

                        <input type="submit" value="Зарегистрироваться" />
                    </form>
                </div>
            </section>
        </main>
        <footer>
        </footer>
    </body>
</html>