@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/Login/Registration.css"/>

    <script src="/js/Login/RegistrationValidation.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=SN+Pro:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <p class="header-welcome-text">Добро пожаловать! Регистрация</p>
    </header>

    <main>
        <section>
            <div class="form">
                <form method="post" asp-action="Registration" asp-controller="Login" class="main-section-form">
                    @Html.AntiForgeryToken()
                    
                    <p class="has-account">У вас уже есть аккаунт? <a id="registration-link" href="/Login/Authorization">Войти</a></p>

                    <div class="admin-row">
                        <label for="switch">Режим администратора</label>
                        <div id="switch" class="common-switch">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="error-summary">
                            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                            {
                                <p>@error.ErrorMessage</p>
                            }
                        </div>
                    }

                    <label for="email">Электронная почта</label>
                    <input id="email" type="email" name="Email"/>

                    <label for="FIO">ФИО</label>
                    <input id="FIO" type="text" name="ФИО"/>

                    <label for="Password">Пароль</label>
                    <div class="password-wrapper">
                        <input id="Password" type="password" name="Password" />
                        <button type="button" class="toggle-password" data-target="Password">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 5C6 5 2.5 9.5 1 12C2.5 14.5 6 19 12 19C18 19 21.5 14.5 23 12C21.5 9.5 18 5 12 5Z"
                                      stroke="#666" stroke-width="1.5" fill="none" stroke-linecap="round" />
                                <circle cx="12" cy="12" r="2.5" stroke="#666" stroke-width="1.5" fill="none" />
                            </svg>
                        </button>
                    </div>

                    <label for="password-repeat">Подтвердите пароль</label>
                    <div class="password-wrapper">
                        <input id="password-repeat" type="password" name="password" />
                        <button type="button" class="toggle-password" data-target="password-repeat">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 5C6 5 2.5 9.5 1 12C2.5 14.5 6 19 12 19C18 19 21.5 14.5 23 12C21.5 9.5 18 5 12 5Z"
                                      stroke="#666" stroke-width="1.5" fill="none" stroke-linecap="round" />
                                <circle cx="12" cy="12" r="2.5" stroke="#666" stroke-width="1.5" fill="none" />
                            </svg>
                        </button>
                    </div>

                    <ul class="form-list-password">
                        <li>Используйте 8 и более символов</li>
                        <li>Хотя бы один специальный символ</li>
                        <li>Хотя бы один символ в ВЕРХНЕМ регистре</li>
                        <li>Хотя бы одно число</li>
                    </ul>

                    <div class="checkbox-wrapper">
                        <input id="checkbox-user-data-computing" type="checkbox"/>
                        <label class="checkbox-user-data-computing" for="checkbox-user-data-computing">Соглашение на обработку персональных данных и с условиями использования сервиса.</label>
                    </div>
                    
                    <input type="submit" value="Зарегистрироваться"/>
                </form>
            </div>
        </section>
    </main>

    <footer></footer>
</body>
</html>