@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Авторизация</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="~/css/Authorization.css" />
    </head>
    <body>
        <header>
            <p class="header-welcome-text">Добро пожаловать на сервис "Бланк"!<p>
            <p>Еще не имеете аккаунта? <a href="/">Зарегистрироваться</a></p>
        </header>
        <aside>
            <img src="~/images/AuthorizationPageImage.jpg" alt="PC image"/>
        </aside>
        <main>
            <form method="POST">
                <label for="email">Электронная почта</label><br />
                <input id="email" type="email" /><br />

                <label for="FIO">ФИО</label><br />
                <input id="FIO" type="text" /><br />

                <label for="password">Пароль</label><br />
                <input id="password" type="password" />
                <ul>
                    <li>Используйте 8 и более символов</li>
                    <li>Один специальный символ</li>
                    <li>Один символ в ВЕРХНЕМ регистре</li>
                    <li>Одно число</li>
                    <li>Один символ в нижнем регистре</li>
                </ul>

                <input id="checkbox-user-data-computing" type="checkbox"/>
                <label for="checkbox-user-data-computing"> Я согласен на обработку персональных данных и с условиями использования сервиса.</label><br />

                <input type="submit" value="Войти"/>
            </form>
        </main>
        <footer>

        </footer>
    </body>
</html>